html {
    overflow: hidden;
}

.window-space {
    width: 100%;
    position: absolute;
    top: 31px;
}

.window {
    height: 500px;
    width: 500px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.window.fullscreen {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    border-radius: 0;
}

.window-test-topbar {
    height: 50px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: grey;
}