.window {
    height: 500px;
    width: 500px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.window-test-topbar {
    height: 50px;
    width: 500px;
    border-radius: 10px 10px 0 0;
    background-color: grey;
}