html {
    overflow: hidden;
}

.window-space {
    width: 100%;
    position: absolute;
    top: 31px;
}

.window {
    height: 500px;
    width: 500px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.window-test-topbar {
    height: 50px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: grey;
}

@keyframes openFullscreen {
    66% {
        height: 100%;
        width: 100%;
    }
    100% {
        height: 100%;
        width: 100%;
    }
}

.open-fullscreen {
    animation: openFullscreen .3s;
}

.fullscreen {
    height: 100%;
    width: 100%;
}

@keyframes closeFullscreen {}

.close-fullscreen {
    height: 100%;
    width: 100%;
    animation: claseFullscreen .3s;
}