:root {
    --value: 0;
}

/* Fonts */

@font-face {
    font-family: "Ubuntu Sans";
    src: url("../../../home/usr/.fonts/Main.ttf");
}

/* Main */

html {
    height: 100%;
    width: 100%;
}

body  {
    height: 100%;
    width: 100%;
    font-family: "Ubuntu Sans";
    font-size: 14px;
    background-size: 100%;
    margin: 0px;
    user-select: none;
}

/* Bakcground */

.background {
    position: absolute;
    background-image: url('../../../home/usr/.backgrounds/bg-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

/* Selection */

.selection {
    z-index: 1;

    position: absolute;
    border: solid;
    border-width: 1px;
    background-color: rgba(255, 76, 0, 0.5);
    border-color: rgb(255, 76, 0);
}

/* Range Input */

/* Custom Input */

.custom-input[type="range"] {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 0;
    width: 100%;
}

.custom-input[type="range"] .selector {
    z-index: 2;
    display: block;
    position: relative;
    top: -7px;
    left: calc(var(--value) * (100%) - 9px);
    height: 18px;
    width: 18px;
    border-radius: 50vh;
    background-color: #dedede;
    transition: background-color .05s;
}

.custom-input[type="range"] .selector:hover {
    background-color: #fff;
}

.custom-input[type="range"]::before {
    position: absolute;
    display: block;
    border-radius: 5px;
    content: "";
    height: 4px;
    width: calc(var(--value) * 100%);
    background-color: rgb(235, 66, 0);
}

.custom-input[type="range"]::after {
    position: absolute;
    left: calc(var(--value) * 100%);
    display: block;
    border-radius: 5px;
    content: "";
    height: 4px;
    width: calc((1 - var(--value)) * 100%);
    background-color: #5a5a5a;
}

.menu-range {
    grid-column: span 6;
    align-self: center;
}

/* Custom Menu */

@keyframes customMenuAppear {
    from {opacity: 0}
    to {opacity: 1}
}

.custom-menu {
    display: none;
    position: absolute;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #333333;

    background-color:#1b1b1b;
    
    box-shadow: 0 0 7px #1b1b1b;

    z-index: 999;
    padding: 3px;
    min-width: 150px;

    animation: customMenuAppear .066s;
}

@keyframes customMenuDisappear {
    0% {opacity: 1}
    66.66% {opacity: 0}
    100% {opacity: 0}
}

.custom-menu.disappear {
    animation: customMenuDisappear .10s;
}

.custom-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-menu hr {
    width: 90%;
    border-top-width: 1px;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 0;
}

.custom-menu a {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #1b1b1b;
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color .1s;
}

.custom-menu a:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

/* Top Bar */

.topbar {
    position: absolute;
    top: 0px;
    z-index: 999;

    display: flex;
    flex-direction: row; 

    height: 31px;
    width: 100%;
    margin-top: 0px;
    background-color: rgb(19, 19, 19);
    opacity: 1;
}

.top-left, .top-mid, .top-right {
    width: 33.3333%;
    display: flex;
    flex-direction: row; 
}

.top-right {
    justify-content: right;
}

.item {
    margin: 2px;

    display: flex;
    align-items: center;

    width: fit-content;
    max-width: 20%;

    border-radius: 50vh;
    padding: 5px 13px;
    color : white;

    text-align: center;
    background-color: transparent;
    transition: background-color 0.15s ease;
}

.item:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

.icon {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.time {
    margin: auto;
}

@keyframes openTopBarMenu {
    0% {top: 20px; scale: 0.95; opacity: 0}
    100% {top: 40px; scale: 1; opacity: 1}
}

@keyframes removeTopBarMenu {
    0% {top: 40px; scale: 1; opacity: 1}
    100% {top: 20px; scale: 0.95; opacity: 0}
}

.time-menu {
    height: 51.5%;
    width: 38.49%;
    top: 40px;
}

.top-right-menu {
    height: 35%;
    width: 20%;
    top: 40px;
    right: 8px;
    grid-template-columns: repeat(8, calc(100% / 8));
    grid-template-rows: repeat(6, calc(100% / 6));
}

.menu {
    display: grid;
    position: absolute;

    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #333333;

    background-color:#1b1b1b;
    
    box-shadow: 0 0 15px black;

    z-index: 999;
    padding: 7px;

    animation: openTopBarMenu .15s;
}

.menu-battery {
    margin: 7px 10px;
    aspect-ratio: 2;
    border-radius: 50vh;
    grid-column: span 2;
    background-color: #333;
    transition: background-color .1s;
}

.menu-item {
    margin: 7px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #333;
    transition: background-color .1s;
}

.menu-battery:hover {
    background-color: #444;
}

.menu-item:hover {
    background-color: #444;
}

.large-menu-item {
    grid-column: span 4;
}

.large-menu-item {
    margin: 0 10px 10px;
    color: white;
    display: flex;
}

.large-menu-item.single-item {
    transition: all .1s;
    border-radius: 50vh;
}

.large-menu-container {
    display: flex;
    flex-direction: row;
}

.large-menu-icon {
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 23.1%;
    height: 100%;
    border-radius: 50vh 0 0 50vh;
}

.menu-brightness-icon, .menu-lock, .menu-shutdown, .menu-screenshot, .menu-settings {
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-menu-icon.left {
    width: 30%;
}

.large-menu-left {
    display: flex;
    width: 77%;
    height: 100%;
    border-radius: 50vh 0 0 50vh;
    transition: all .1s;
}

.large-menu-text {
    display: grid;
    font-weight: 700;
    text-align: center;
    align-content: center;
}

.performance-subtext {
    font-size: 12px;
    font-weight: 100;
    text-align: left;
}

/* ON / OFF */

.off.large-menu-item.single-item {
    background-color: #333;
}

.off.large-menu-item.single-item:hover {
    background-color: #383838;
}

.off .large-menu-left {
    background-color: #333;
}

.off .large-menu-left:hover {
    background-color: #383838;
}

.large-menu-right {
    width: calc(23% - 1px);
    height: 100%;
    border-radius: 0 50vh 50vh 0;
    border: solid;
    border-width: 0 0 0 1px;
    border-color: #555;
    transition: all .1s;
}

.off .large-menu-right {
    background-color: #444;
}

.off .large-menu-right:hover {
    background-color: #505050;
}

.menu.remove {
    animation: removeTopBarMenu .15s;
}